.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto ;
    padding: irem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    
}

.logo{
    /* object-fit: cover; if you are using image as logo */
    height: 3rem;
    width: 4rem;
    font-size: 35px;
    color: yellow;

}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    
}

.desktopMenuListItem:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid yellow;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    padding: 0.9rem;
    border-radius: 2rem;
    
}